<nav class="navbar navbar-expand-md  bg-dark navbar-dark">
    
    <a href="{% url 'home' %}" class="navbar-brand"><img src="photo.jpg" alt="Linda Pro" class="logo-image"/></a>

    <button type="button" data-target="#myNavigation" class="navbar-toggler navbar-light"
     data-toggle="collapse">
    
     <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="myNavigation">

       <ul class="navbar-nav ml-auto">
         <li class="nav-item"><a class="nav-link"href="{% url 'home' %}">Home</a></li>
         <li class="nav-item"><a class="nav-link"href="about.html">About</a></li>
         <li class="nav-item"><a class ="nav-link"href="{% url 'posts' %}">Posts</a></li>
         <li class="nav-item"><a class="nav-link"href="{% url 'feedback_create' %}">Contact</a></li>
         <li class="nav-item"><a class="nav-link"href="contact.html">Shop</a></li>
       </ul>

    </div>     

</nav>