.text-aqua{
    
    color: rgb(0, 76, 255);
}

.footer{

    position:fixed;
    left:0;
    bottom:0;
    width:100%;
}

.content{
    margin-bottom: 100em;
}

.landing-image{
    width:500px;
    height:500px;
}